<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Notificaciones | Cafetería virtual</title>
  <link rel="shortcut icon" href="../../../assets/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../../../assets/css/theme.css">
  <link rel="stylesheet" href="../../../lib/bootstrap-icons/bootstrap-icons.min.css">
  <link rel="stylesheet" href="../../../lib/notyf/css/notyf.min.css">
  <script defer src="../../../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script defer src="../../../lib/notyf/js/notyf.min.js"></script>
  <script defer type="module" src="../../controllers/notifications.controller.js"></script>
  <script defer type="module" src="../../controllers/return-button.controller.js"></script>
  <script defer type="module" src="../../controllers/loader.controller.js"></script>
  <script defer type="module" src="../../controllers/toast.controller.js"></script>
</head>
<body class="d-flex flex-column vh-100 bg-light">
  <div id="loader">
    <div class="spinner-border text-success" role="status" style="width: 4rem; height: 4rem;">
      <span class="visually-hidden">Cargando...</span>
    </div>
  </div>
  <nav class="navbar navbar-expand navbar-dark bg-success shadow sticky-top">
    <div class="container-fluid justify-content-start">
      <span class="navbar-brand" id="returnButton"><i class="bi bi-arrow-left"></i></span>
      <span class="navbar-brand">Notificaciones</span>
    </div>
  </nav>
  <div class="p-3 flex-grow-1 overflow-y-auto">
    <div class="container">
      <div id="emptyAlert" class="alert alert-primary shadow-sm d-none" role="alert">
        No hay notificaciones para mostrar
      </div>
      <div id="newNotificationsContainer" class="vstack gap-2 d-none">
        <h5>Nuevas</h5>
        <div id="newNotificationContainer" class="vstack gap-2"></div>
      </div>
      <hr id="notificationsDivider" class="my-2 d-none">
      <div id="prevNotificationsContainer" class="vstack gap-2 d-none">
        <h5>Anteriores</h5>
        <div id="prevNotificationContainer" class="vstack gap-2"></div>
      </div>
    </div>
  </div>
</body>
</html>