<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agregar producto | Cafetería virtual</title>
  <link rel="shortcut icon" href="../../../assets/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../../../assets/css/theme.css">
  <link rel="stylesheet" href="../../../lib/bootstrap-icons/bootstrap-icons.min.css">
  <link rel="stylesheet" href="../../../lib/notyf/css/notyf.min.css">
  <script defer src="../../../lib/notyf/js/notyf.min.js"></script>
  <script defer src="../../../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script defer type="module" src="../../controllers/return-button.controller.js"></script>
  <script defer type="module" src="../../controllers/add-product.controller.js"></script>
  <script defer type="module" src="../../controllers/loader.controller.js"></script>
  <script defer type="module" src="../../controllers/toast.controller.js"></script>
</head>
<body class="d-flex flex-column vh-100 bg-light">
  <div id="loader">
    <div class="spinner-border text-success" role="status" style="width: 4rem; height: 4rem;">
      <span class="visually-hidden">Cargando...</span>
    </div>
  </div>
  <nav class="navbar navbar-expand navbar-dark bg-success shadow sticky-top">
    <div class="container-fluid justify-content-start">
      <span class="navbar-brand" id="returnButton"><i class="bi bi-arrow-left"></i></span>
      <span class="navbar-brand">Agregar producto</span>
    </div>
  </nav>
  <div class="p-3 flex-grow-1 overflow-y-auto">
    <div class="container">
      <form id="addProductForm" class="vstack gap-3">
        <div class="form-floating">
          <input autocomplete="off" type="text" class="form-control" id="titleInput" placeholder="Título">
          <label for="titleInput">Título*</label>
        </div>
        <div class="form-floating">
          <textarea autocomplete="off" class="form-control" placeholder="Descripción" id="descriptionInput" style="height: 100px"></textarea>
          <label for="descriptionInput">Descripción*</label>
        </div>
        <div class="form-floating">
          <input autocomplete="off" min="1" type="number" class="form-control" id="priceInput" placeholder="Precio">
          <label for="priceInput">Precio*</label>
        </div>
        <div class="form-floating">
          <input autocomplete="off" min="0" type="number" class="form-control" id="amountInput" placeholder="Cantidad">
          <label for="amountInput">Cantidad*</label>
        </div>
        <button type="button" id="addPictureButton" class="btn btn-outline-primary btn-lg shadow-sm"><i class="bi bi-image me-2"></i>Agregar foto</button>
        <div id="pictureCard" class="card d-none">
          <img id="pictureImage" src="../../../assets/images/products/test.jpg" class="card-img" alt="...">
          <div class="card-img-overlay p-0 d-flex align-items-end">
            <button type="button" id="removePictureButton" class="w-100 btn btn-danger btn-lg" style="height: fit-content;"><i class="bi bi-x-lg me-2"></i>Eliminar foto</button>
          </div>
        </div>
        <button class="btn btn-primary btn-lg shadow-sm"><i class="bi bi-check-lg me-2"></i>Agregar producto</button>
      </form>
    </div>
  </div>
</body>
</html>